<% include partials/header %>

<div class="columns">
  <div class="column is-1">
  </div>
  <div class="column user-info is-3">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/256x256.png">
    </figure>
    <h4>Name: <%= user.username %></h4>
    <h4>Date Joined: <%= user.member_since %></h4>
    <h4>Current City: <%= user.current_city %></h4>
  </div>

  <div class="column is-7">
    <%= post.title %>
    <%= post.content %>
  </div>

</div>



<% include partials/footer %>
